
body{
    background: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:black;
    font-size: 30px;
    font-family: 'IBM Plex mono', monospace;
    font-weight: bold;
    text-align: center;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 50%;
    color: black;
    font-size: 20px;
    font-family: 'IBM Plex mono', monospace;
    border: 2px dashed black;
    align-items: center;
}

#diceImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}